html,
body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #8f57fd;
}

a {
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.header__logo {
  width: 200px;
}

.header__profile {
  display: flex;
  justify-content: center;
  position: relative;
}

.profile__image {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  filter: invert(1);
}

.header__profile:hover .profile__menu {
  display: block;
}

.profile__menu {
  display: none;
  list-style: none;
  padding: 0;
  text-align: right;
  position: absolute;
  top: 24px;
  right: 0;
}

.menu__item {
  padding: 4px;
}

.menu__link {
  text-decoration: none;
}
